/** Universal **/

html {
    font-size: 14px;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

img {
    width: 100%;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    opacity: 0.7;
    transition: transform .5s,
                opacity .5s;
    transition: transform .5s,
                opacity .5s;
}

.image-container img:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/** Bootstrap **/

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active a:hover {
    background-color: inherit;
    color: #399bd1;
}

.btn-primary {
    width: 11.4rem;
    padding: 1.3rem;
    margin: 0 auto;
    background-color: #399bd1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/** Slick **/

.slick-slide {
    outline: none;
}

/** Navigation **/

.navbar {
    font-size: 1.1rem;
    font-weight: 600;
}

/** Jumbotron **/

.jumbotron {
    color: white;
    height: 44rem;
    text-align: center;
    padding-top: 11.85rem;
    padding-bottom: 11.85rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron-bike {
    background-image: url(../images/jumbotron-bike.jpg);
}

.jumbotron-beer {
    background-image: url(../images/jumbotron-beer.jpg);
}

.jumbotron-flowers {
    background-image: url(../images/jumbotron-flowers.jpg);
}

.jumbotron-duffel {
    background-image: url(../images/jumbotron-duffel.jpg);
}

.jumbotron h1 {
    font-family: "Monoton", sans-serif;
    font-size: 7.1rem;
    text-shadow: 
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px -1px 0 #000,
         1px -1px 0 #000;
}

.jumbotron p {
    max-width: 51.3rem;
    margin: 0 auto;
    text-shadow: 
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px -1px 0 #000,
         1px -1px 0 #000;
}

.relative-wrapper {
    position: relative;
    text-align: center;
    top: -14rem;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .jumbotron h1 {
        font-size: 5.7rem;
    }
    
    @media only screen and (max-width: 550px) {
    .jumbotron h1 {
        font-size: 4rem;
    }
    }    
}

/** Featured Project **/

.featured-project {
    margin-top: -7rem;
    padding-top: 5.85rem;
}

.featured-project .image-container {
    height: 19rem;
    margin-top: 2rem;
}

.categories h3{
    color: #399bd1;
}

.categories ul {
    color: rgba(0, 0, 0, 0.7);
}

/** Projects **/

.project {
    padding-bottom: 5.85rem;
}

.project .image-container {
    height: 15rem;
    overflow: hidden;
}

/** Help **/

.help {
    padding: 5.2rem 0;
    background-color: #f3f3f3;
    text-align: center;
}

.help strong {
    display: inline-block;
    margin-bottom: 1.4rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.help p {
    max-width: 42rem;
    margin: auto;
}

.help .btn-primary {
    margin-top: 3rem;
}