/** Universal **/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 14px;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
}

img {
    width: 100%;
}

/** Bootstrap **/

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active a:hover {
    background-color: inherit;
    color: #399bd1;
}

.btn-primary {
    width: 11.4rem;
    padding: 1.3rem;
    margin: 0 auto;
    background-color: #399bd1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/** Slick **/

.slick-slide {
    outline: none;
}

/** Navigation **/

.navbar {
    font-size: 1.1rem;
    font-weight: 600;
}

/** Jumbotron **/

.jumbotron {
    color: white;
    height: 44rem;
    text-align: center;
    padding-top: 11.85rem;
    padding-bottom: 11.85rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron-bike {
    background-image: url(../images/jumbotron-bike.jpg);
}

.jumbotron-beer {
    background-image: url(../images/jumbotron-beer.jpg);
}

.jumbotron-flowers {
    background-image: url(../images/jumbotron-flowers.jpg);
}

.jumbotron-duffel {
    background-image: url(../images/jumbotron-duffel.jpg);
}

.jumbotron h1 {
    font-family: "Monoton", sans-serif;
    font-size: 7.1rem;
    text-shadow: 
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px -1px 0 #000,
         1px -1px 0 #000;
}

.jumbotron p {
    max-width: 51.3rem;
    margin: 0 auto;
    text-shadow: 
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px -1px 0 #000,
         1px -1px 0 #000;
}

.relative-wrapper {
    position: relative;
    text-align: center;
    top: -14rem;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .jumbotron h1 {
        font-size: 5.7rem;
    }
}



/** Featured Project **/

.featured-project {
    margin-top: -7rem;
    padding-top: 5.85rem;
    padding-bottom: 5.85rem;
}

.featured-project .image-container {
    height: 19rem;
    margin-top: 20rem;
}
