/** Universal **/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 14px;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
}

img {
    width: 100%;
}

/** Bootstrap **/

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active a:hover {
    background-color: inherit;
    color: #399bd1;
}

/** Navigation **/

.navbar {
    font-size: 1.1rem;
    font-weight: 600;
}

